body {
  background-color: rgb(230, 247, 255);
}

.content-text {
  position: absolute;
  left: 30%;
  right: 10%;
  background-color: rgba(230, 247, 255, 0.8);
  margin-top: 100px;
  padding: 30px;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: rgb(102, 37, 37);
}

a:hover,
a:active {
  text-decoration: none;
  color: rgb(102, 68, 37);
}

@media (max-width: 1050px) {
  .content-text {
    position: absolute;
    left: 00;
    right: 0;
    top: 150px;
    background-color: rgba(230, 247, 255, 0.9);
    margin-top: 100px;
    padding: 30px;
    border-radius: 25px;
  }
  .mon-nav {
    background-color: rgba(230, 247, 255, 0.8);
  }
}
